@model MyContacts.am.ModelsView.UserModel

<div class="container">
    <div class="list-card box-shadow mx-auto">
        <form method="post" asp-controller="Contacts" asp-action="EditContacts" class="card-text">
            <div class="row">
                <div class="col-md-12">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <input asp-for="Id" type="hidden" class="input mb-0" />
                <div class="col-md-12 mb-4">
                    <input asp-for="FullName" placeholder="First Name*" class="input mb-0" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="col-md-12 mb-4">
                    <input asp-for="Email" type="email" placeholder="Email*" class="input mb-0" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-12 mb-4">
                    <input asp-for="Phone" placeholder="Phone*" class="input mb-0" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="col-md-12 mb-4">
                    <input asp-for="Address" placeholder="Address*" class="input mb-0" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12 text-center mt-2">
                <form method="post" asp-controller="Contacts" asp-action="Deletecontacts">
                    <input asp-for="Id" name="contactId" type="hidden" />
                    <button type="submit" class="btn-fill btn-del btn-outline-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>